<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
  </head>

  <body class="container_success">
    <div class="logged_in_nav">
      <div class="flex">
        <div>
          <img
            src="../public/images/workos-logo-with-text.png"
            alt="workos logo"
          />
        </div>
      </div>
      <div class="flex">
        <a href="https://workos.com/docs" target="_blank">
          <button class="button nav-item">Documentation</button>
        </a>
        <a href="https://workos.com/docs/reference" target="_blank">
          <button class="button nav-item">API Reference</button>
        </a>
        <a href="https://workos.com/blog" target="_blank">
          <button class="button nav-item blog-nav-button">Blog</button>
        </a>
        <a href="https://workos.com/" target="_blank">
          <button class="button button-outline">WorkOS</button>
        </a>
        <a href="/logout">
          <button class="button button-outline">Log Out</button>
        </a>
      </div>
    </div>
    <div class="flex">
      <div class="logged_in_div_right">
        <div class="flex_column">
          <div class="flex width-941px justify-center profile-actions">
            <a href="/directory">
              <button class="button button-outline">
                See All Directory Users
              </button>
            </a>
          </div>
          <div>
            <div class="profile-card">
              <!-- initials fallback -->
              <div class="profile-avatar">
                <%= first_name.charAt(0) %><%= last_name.charAt(0) %>
              </div>
              <h2 class="profile-name"><%= first_name %> <%= last_name %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  </body>
</html>
